# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
venv/
.env

# Packaging
build/
dist/
*.egg-info/

# Test & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Tooling caches
.mypy_cache/
.ruff_cache/

# OS/editor
.DS_Store
.idea/
.vscode/

# Project artifacts
plots/
